.estrela{
    font-size: 16px;color: #ffbb00}


.product-image{
    width: 100%}


.spec-1{color: #938787;
    font-size: 15px}

.para{
    font-size: 16px}

.restauranteimg    {
    border-radius: 50%;
	width: 5rem;
}

